:root {
    --small: 0.8rem;
    --normal: 1rem;
    --big: 1.3rem;
    --bigger: 1.8rem;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    font-size: 100%;
    font-family: "Roboto";
}

.container {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}

ul, 
li {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.small {
    font-size: 0.8rem;
}

.bold {
    font-weight: 700;
}

button:hover {
    cursor: pointer;
}

.learn-more {
    background-color: #011b3a;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    color: #ffffff;
}

.learn-more-link {
    font-size: var(--small);
}

.header {
    gap: 10%;
    align-items: center;
    font-size: 1.3rem;
    padding: 10px 40px;
    border-bottom: 1px solid #dbdbdb;
}

.logo-wrapper {
    flex: 0 0 50px;
}

.flex {
    display: flex;
}

.nav {
    gap: 2em;
    flex: 1 1 auto;
}

.nav-links {
    margin-left: auto;
    gap: 1.2em;
}

.nav-social-links {
    gap: 15px;
}

.hero {
    padding: 72px 0;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}

.hero-texts-wrapper {
    gap: 2vh;
}

.hero-texts-wrapper h1 {
    font-size: 2.3rem;
    width: 16ch;
    color: #011b3a;
}

.hero-texts-wrapper p {
    max-width: 80ch;
}

.hero-img-wrapper {
    flex: 0 1 20%;
}

.hero-img-wrapper > img {
    border: 10px solid #5a7688;
    border-radius: 150px;
}

.stat {
    gap: 20px;
    text-align: center;
}

.stat .bold {
    font-size: 1.7rem;
    color: #5a7688;
}

.col {
    flex-direction: column;
}

.qualities {
    background-color: #5a7688;
    justify-content: space-around;
    border-radius: 20px;
    padding: 30px;
}

.qualities > .flex.col.small {
    gap: 10px;
    text-align: center;
    color: #ffffff;
}

.qualities p {
    max-width: 25ch;
}

.scale {
    z-index: 1;
    position: relative;
}

.scale::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: #011b3a;
    transform: scaleY(2.2);
    z-index: -1;
    border-radius: 10%;
}

.qualities > .flex.col.small i {
    font-size: var(--big);
}

.about-us, .partners, .services, .contact-us, .process, .review, .security-solution, .blog-article, .footer {
    margin-top: 120px;
}

 .blog-article, .footer {
    background-color: darkcyan;
}

.about-us {
    border-radius: 20px;
}

.about-us > div {
    flex: 1;
    color: #4b4b4b;
}

.about-us > :first-child img {
    width: 100%;
    aspect-ratio: 5/4;
    object-fit: cover;
    display: block;
}

.about-us h3 {
    margin-top: 30px;
    font-size: var(--bigger);
}

.about-us > :nth-child(2) {
    position: relative;
    color: black;
}

.about-us > :nth-child(2)::before {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #5a7688;
    z-index: -1;
    transform: scaleY(1.2);
    border-radius: 20px;
}

.about-us > :nth-child(2) > h3 {
    color: #ffffff;
}

.about-us > :nth-child(3) {
    box-shadow: 2px 2px 5px #646464;
    border-radius: 0 20px 20px 0;
}

.about-us > :nth-child(3) h3, .about-us > :nth-child(3) h4, .about-us > :nth-child(3) i {
    color: #011b3a;
}

.about-us > :nth-child(2) > *, .about-us > :nth-child(3) > * {
    margin-bottom: 15px;
}

.about-us .flex.why-choose-us-wrapper {
    gap: 10px;
}

.about-us > :not(:first-child) {
    padding: 20px;
}

.partners > h4 {
    color: #011b3a;
    font-size: var(--big);
    margin-bottom: 15px;
}

.flex.partners-logo-wrappers {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.flex.partners-logo-wrappers > :first-child {
    flex: 0 0 38ch;
}

.flex.partners-logo-wrappers > :not(:first-child) {
    flex: 1 1 auto;
}

.flex.partners-logo-wrappers img {
    width: 100px;
    aspect-ratio: 2/1;
    object-fit: contain;
    margin-left: auto;
    display: block;
}

.services {
    padding: 40px 0;
    background-color: #dadada3f;
}

.services > :first-child > h3 {
    flex: 2;
    font-size: var(--bigger);
}

.services > :first-child > div {
    flex: 3;
}

.services > :nth-child(2) {
    justify-content: space-evenly;
    margin-top: 40px;
}

.services .flex.col {
    align-items: center;
    gap: 15px;
    padding: 40px 20px;
    border: 5px solid transparent;
    flex: 0 0 200px;
}

.services .flex.col > p {
    text-align: center;
}

.services .flex.col:first-of-type{
    border-radius: 120px;
    border-color: #ffffff;
    box-shadow: 2px 2px 5px #646464;
    background-color: #5a7688;
    color: #ffffff;
}

.contact-us {
    gap: 25px;
    padding-top: 10vh;
    color: #ffffff;
    background-color: #5a7688;
}

.contact-us > * {
    flex: 1 1 500px;
}

.contact-us h4 {
    width: 15ch;
    font-size: 2rem;
}

.contact-us p {
    margin-top: 20px;
    margin-bottom: 25px;
}

.contact-us img {
    width: 300px;
    mix-blend-mode: color-burn;
}

.contact-us form {
    max-width: 300px;
    gap: 10px;
}

.contact-us form *:not(button) {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid #ffffff;
    color: #ffffff;
    background-color: transparent;
}

.contact-us form *::placeholder {
    color: #ffffff;
}

.process > h3, .process > p {
    text-align: center;
}

.process > h3 {
    font-size: var(--bigger);
    color: #011b3a;
    margin-bottom: 10px;
}

.process > p {
    max-width: 50ch;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.process > .flex {
    gap: 30px;
    justify-content: space-evenly;
}

.process .flex.col {
    background-color: #e2e2e2;
    border-radius: 10px;
    padding: 35px 15px 15px 10px;
    position: relative;
}

.process .flex.col > * {
    width: 30ch;
    text-align: center;
    margin-bottom: 1vh;
}

.process .flex.col span {
    background-color: #5a7688;
    width: max-content;
    padding: 10px;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.process .flex.col:nth-of-type(2) {
    background-color: #5a7688;
    color: #ffffff;
}

.process .flex.col:nth-of-type(2) > span {
    background-color: #011b3a;
}

.review > :first-child {
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}

.review > :first-child  > *{
    flex: 0 0 50%;
}

.review > :first-child h3 {
    font-size: 2rem;
    max-width: 20ch;
    color: #011b3a;
}

.review  > :nth-child(2) {
    height: 250px;
    background-color: #011b3a;
    color: #ffffff;
    border-radius: 20px;
}

.review  > :nth-child(2) > :first-child{
    flex: 0 0 50%;
}

.review img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.review .flex.col {
    padding: 20px;
    justify-content: space-between;
    padding: 40px;
}

.review .flex.col .flex {
    align-items: center;
    gap: 10px;
}

#fpf {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.security-solution {
    padding: 50px 0;
    color: #ffffff;
    background-color: #5a7688;
}

.security-solution, .security-solution > :not(:last-child), .blog-article > h3, .blog-article > p {
    text-align: center;
    margin-bottom: 15px;
}

.security-solution h3 {
    font-size: 2rem
}

.blog-article > h3 {
    font-size: 1.8rem;
}

.blog-article > div {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    gap: 20px;
}

.blog-article article {
    flex: 0 0 250px;
}

.blog-article img {
    aspect-ratio: 1/1.5;
    object-fit: cover;
}

.footer > :first-child {
    align-items: center;
    gap: 20px;
}

.footer > :first-child > div {
    margin-right: auto;
}

.footer h3 {
    font-size: 1.8rem;
    margin-bottom: 2vh;
}

.footer .submit {
    margin-right: 20%;
}

#email-footer, .footer .submit {
    padding: 5px;background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
}

.footer > :nth-child(2) {
    margin-top: 4vh;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 0;
    border-bottom: 1px solid #ffffff;
}

.footer > :nth-child(2) span {
    margin-right: 10px;
}

.footer > :nth-child(2) p {
    margin-bottom: 2vh;
}

.footer > :nth-child(2) > :first-child {
    width: 35ch;
    flex: 1;
}

.footer h4 {
    margin-bottom: 2vh;
}

.footer li:not(:last-of-type) {
    margin-bottom: 1vh;
}

.footer .links {
    justify-content: space-between;
    flex: 2;
}

.footer .links > :last-child {
    width: 35ch;
}

.footer > p {
    text-align: center;
    padding: 4vh 0;
}